.bgimgg{
  background-image: url('../../images/editAddimage.jpg');

}  



/* .style{
  background-image: url('../images/Immages.jpg');
  height: 800px;
  width: 100%;
  text-align: left;
} */